<section class="demo">
  <div class="demo__container container">
    <h1 class="demo__title title">ПРОМО</h1>
    <div class="demo__wrap">
      <div class="demo__img">
        <img src="img/doctor.png" alt="Доктор">
      </div>
      <div class="demo__text text">
        <p>
          Фото человека с продуктом (заменить продукт на картинке). Небольшое описание продукта. Ниже 3 характеристики
          продукта в виде списка в линию. Фон: произвольный градиент или паттерн. Кнопка заказать (должна скроллить к
          форме заказа)
        </p>
        <ul class="text">
          <li class="demo__item"> Фото человека с продуктом заменить продукт</li>
          <li class="demo__item"> Фото человека с продуктом заменить продукт</li>
          <li class="demo__item"> Фото человека с продуктом заменить продукт</li>
        </ul>
        <a href="#order" class="button button__demo">ЗАКАЗАТЬ</a>
      </div>
    </div>

  </div>
</section>
