<section class="order" id="order">
  <div class="order__conteiner container">

    <h2 class="order__title title">ЗАКАЗАТЬ</h2>
    <div class="order__wrap">
      <div class="order__product">
        <div class="order__img">
          <img src="img/prod.png" alt="LevelUp">
        </div>
        <div class="order__price">
          <div class="old_price">Старая цена: <span>2000Р</span></div>
          <div class="new_price">Новая цена: <span>999Р</span></div>
        </div>
      </div>
      <form action="#" class="order__form">
        <div class="order__form--wrap">
          <div class="item" data-title="Например: Алексндр Ершов">
            <input required placeholder="Ваше имя" type="text">
          </div>
          <div class="item" data-title="Например: +999 322 15 33">
            <input required pattern="[0-9]" placeholder="Ваш телефон" type="tel">
          </div>
          <div class="item" data-title="Например: Можно скидку?">
            <textarea required placeholder="Ваше сообщение" rows="10"></textarea>
          </div>
        </div>
        <button class="button button__order">ОТПРАВИТЬ</button>
      </form>
    </div>
  </div>
</section>


</div>
</section>
