<section class="promo">
  <div class="promo__container container">

    <h1 class="promo__title title">LevelUp</h1>

    <div class="content">
      <div class="content__wrap">
        <div class="content__left">
          <img loading="lazy" src="img/prod.png" class="promo__image" alt="prod">
        </div>
        <div class="content__right">
          <ul>
            <li class="promo__item text">Название продукта. Ниже фото продукта и 3 его характеристики в виде списка.
            </li>
            <li class="promo__item text">Название продукта. Ниже фото продукта и 3 его характеристики в виде списка.
            </li>
            <li class="promo__item text">Название продукта. Ниже фото продукта и 3 его характеристики в виде списка.
            </li>
          </ul>
          <a href="#order" class="button button__promo">ЗАКАЗАТЬ</a>
        </div>

      </div>

    </div>

    <div class="promo__video">
      <video autoplay muted loop id="myVideo" preload="auto">
        <source src=http://techslides.com/demos/sample-videos/small.webm type=video/webm>
        <source src=http://techslides.com/demos/sample-videos/small.ogv type=video/ogg>
        <source src=http://techslides.com/demos/sample-videos/small.mp4 type=video/mp4>
        <source src=http://techslides.com/demos/sample-videos/small.3gp type=video/3gp>
      </video>
    </div>
  </div>
</section>
