<section class="reviews">
  <div class="reviews__container container">

    <h1 class="reviews__title title">ОТЗЫВЫ</h1>
    <div class="reviews__wrapper">
      <button class="button__prev">
        <svg width="20" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.27231 7.5L9 1.6664L7.36385 0L-3.23429e-07 7.5L7.36385 15L9 13.3336L3.27231 7.5Z" fill="#fff" />
        </svg>
      </button>
      <div class="slider">
        <div class="slider__line">
          <div class="slider__item focused">
            Карусель из трех элементов (отзывов). qqwe элемент должен состоять из фото, имени челове
            <div class="user">
              <img loading="lazy" src="img/slider.png" class="user__photo" width="" height="" alt="">
              <div class="user__name">John Jones</div>
            </div>
          </div>
          <div class="slider__item">
            Карусель из тccрех asdasd (отзывов). Каждый элемент должен состоять из фото, имени челове
            <div class="user">
              <img loading="lazy" src="img/slider.png" class="user__photo" width="" height="" alt="">
              <div class="user__name">Daniel Cormier</div>
            </div>
          </div>
          <div class="slider__item">
            Карусель из трех элементов (отзывов). Каждый элемент должен состоять из фото, имени челове
            <div class="user">
              <img loading="lazy" src="img/slider.png" class="user__photo" width="" height="" alt="">
              <div class="user__name">Alexander Gustafsson</div>
            </div>
          </div>
        </div>
      </div>
      <button class="button__next">
        <svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M5.72769 7.5L0 1.6664L1.63615 0L9 7.5L1.63615 15L0 13.3336L5.72769 7.5Z" fill="#fff" />
        </svg>
      </button>
    </div>
    <div class="dots__wrap">
      <div class="dot active"></div>
      <div class="dot"></div>
      <div class="dot"></div>
    </div>
  </div>
</section>
