<section class="structure">
  <div class="structure__container container">
    <h1 class="structure__title title">СОСТАВ ПРОДУКТА</h1>
    <div class="structure__wrap">
      <div class="structure__items">
        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>

        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>

        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>
      </div>

      <div class="structure__product">
        <div class="structure__product--wrap">
          <div class="structure__lines structure__lines--left">
            <div class="structure__line structure__line--left"></div>
            <div class="structure__line structure__line--left"></div>
            <div class="structure__line structure__line--left"></div>
          </div>
          <div class="structure__image">
            <img src="img/prod.png" alt="product">
          </div>
          <div class="structure__lines structure__lines--right">
            <div class="structure__line structure__line--right"></div>
            <div class="structure__line structure__line--right"></div>
            <div class="structure__line structure__line--right"></div>
          </div>
        </div>
        <a href="#order" class="button button__structure">ЗАКАЗАТЬ</a>
      </div>

      <div class="structure__items">
        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>

        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>

        <div class="structure__item">
          <div class="structure__img"></div>
          <div class="structure__name text">вещество</div>
        </div>
      </div>
    </div>

  </div>
</section>
